repo="BmalayiRNAseq-nf"

aux_location="/home/linuxbrew/nextflow/${repo}/auxillary/"
data_location="/mnt/facilitydata/zamanian/data_BRC/Zamanian/190816_D6WLH/"
output_location="/home/BIOTECH/zamanian/GitHub/${repo}/output/"

large_core=6
small_core=3

process {
   cpus=6
   $build_hisat_index {
       cpus=6
   }
}
