data_location="/Users/mzamanian/Box Sync/GitHub/BmalayiRNAseq-nf/data/"
aux_location="/Users/mzamanian/Box Sync/GitHub/BmalayiRNAseq-nf/auxillary/"
output_location="/Users/mzamanian/Box Sync/GitHub/BmalayiRNAseq-nf/output/"

large_core=4
small_core=2

process {
   cpus=4
   $build_hisat_index {
       cpus=4
   }

}